/* colour palette: green D6D85D, cream ECEDB0, tawny EAD8A4, orange F68537 */

body {
  background-color: rgb(236, 237, 176);
}

.titlechoreo {
  color: black;
}

.flexBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.titlefrog {
  color: orangered;
}

.text2 {
  color: orangered;
}

.frogbiog {
  color: rgb(67, 112, 87);
}

.heartclose {
  width: 400px;
  height: 300px;
  object-fit: contain;
}

.camheart {
  width: 400px;
  height: 300px;
  object-fit: contain;
}

.camclose {
  width: 400px;
  height: 300px;
  object-fit: contain;
}

.enquirediv {
  position: relative;
  text-align: center;
}
