/* colour palette: green D6D85D, cream ECEDB0, tawny EAD8A4, orange F68537 */

.choreobody {
  background-color: rgb(236, 237, 176);
  width: 100%;
}

.titlechoreo {
  color: black;
}

.flexBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.biogdiv {
  display: flex;
  flex-direction: row;
}

.enquirediv {
  position: relative;
  text-align: center;
}

.titlefrog {
  color: orangered;
}

.text2 {
  color: orangered;
}

.frogbiog {
  color: rgb(67, 112, 87);
}

.heartclose {
  width: 400px;
  height: 300px;
  object-fit: contain;
}

.camheart {
  width: 400px;
  height: 300px;
  object-fit: contain;
}

.camclose {
  width: 400px;
  height: 300px;
  object-fit: contain;
}

.frogparty {
  width: 50%;
}

.posefrog {
  width: 50%;
}

.partyfrog {
  width: 50%;
}
