.meaningContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* width: 100%; */
  /* width: 100vw; */
  min-height: 100vh;
  border: 1px solid black;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.53);
  background-color: white;

  width: 90%;
  max-width: 600px;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

.mainBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  margin-top: 2rem;
  width: fit-content;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
}

.shapes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.fun {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  width: 5rem;
  height: 5rem;
  border-radius: 100px;
}

.attention {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  width: 5rem;
  height: 5rem;
}

.simple {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  width: 5rem;
  height: 5rem;
  border-radius: 100px;
}

.funExplain {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.53);
}

.attentionExplain {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.53);
}

.simpleExplain {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.53);
}

.hidden {
  visibility: hidden;
}

.explainBoxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
}
